body {
  background: #669b58;
  }

.resultpane {
  display: none;
}

.jumbotron {
  background: #9b5874;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: -5px 5px #4f2112;
}

.well {
  background: #9b7158;
  color: white;
}

label {
  color: white;
}

.btn {
  background: #f7beef;
}

.btn:hover {
  background: #9b5874;
}

img {
  max-width: 100%;
  border: solid 4px black;
}
